.photo-list__fav-icon {
  // position: relative;
  position: absolute;
  margin-top: 8px;
  margin-left: 8px;
  cursor: pointer;
  // margin-bottom: -30px;
  margin-bottom: -64px;
  border-width: 0.1px;
  background-color: #EEEEEE;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100%;
  padding-top: 4px;
}
button.photo-list__fav-icon {
  border: none;
}

.photo-list__fav-icon-svg {
  padding: 7px;
  top: 2px;
}